.check {
  @apply cursor-pointer;
}

.checkInput {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkBox {
  @apply relative bg-[#E0E0E0] w-[14px] h-[14px] rounded-full;
}

.checkBox::before {
  @apply absolute top-0 left-0 content-[""] inline-block w-[14px] h-[14px] bg-[#E0E0E0] rounded-full;
}

.checkInput:hover + .checkBox::before {
  @apply bg-[#616161] duration-300;
}

.checkInput:checked + .checkBox::before {
  @apply grid content-center pl-0.5 pt-0.5 content-["\2713"] text-[13px] text-white bg-black;
}
