@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #FBFBFB;
    max-width: 100vw;
    margin: 0 auto;
}

@font-face {
    font-family: 'Poppins', sans-serif;
}

@font-face {
    font-family: 'Roboto', sans-serif;
}

@font-face {
    font-family: 'Manrope', sans-serif;
}

#footer-input::placeholder {
    color: #616161;
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
